; Supervisor configuration file for racesow gameserver
[program:racesow]
user={{ wswuser }}
directory={{ homedir }}/warsow_14
autostart=true
autorestart=true
command={{ homedir }}/warsow_14/wsw_server.x86_64 +set fs_basepath "{{ homedir }}/warsow_14" +set fs_usehomedir 0 +set fs_game "{{ fs_game }}"